/*Name this external file gallery.css*/
body{
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}
#image{
    line-height:580px;
		width: 575px;
    height: 600px;
		border:5px solid black;
		margin:0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 130%;
}
.preview{
		width:10%;
		margin-left:17%;
		margin-bottom: 10px;
    border: 10px solid black;
}
img{
		width:95%;
		height: 50%;
		opacity: 0.5;
}
img:hover,img:focus{
	opacity: 1;
}